# Binaries for programs and plugins
netgear_exporter
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
scripts/exporter_password
scripts/github_api_token
scripts/netgear_exporter*
tmp/
